<footer class="footer">
  <div class="container">
    <div class="left">
      <a href="https://wa.me/5532984446243?text=Ol%C3%A1!%20Estou%20em%20busca%20de%20melhorias%20e%20controle%20para%20meu%20neg%C3%B3cio.%20Como%20voc%C3%AA%20pode%20me%20ajudar%20a%20alcan%C3%A7ar%20isso%3F" target="_blank" rel="noopener noreferrer">
        By Double A Solutions
      </a>
    </div>
    <div class="right">
      &copy; {{ currentYear }} Assistência Social. Todos os direitos reservados.
    </div>
  </div>
</footer>
