.footer {
  background-color: #f3f3f3;
  padding: 1rem;
  font-size: 0.9rem;
  color: #555;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
}

.left a {
  text-decoration: none;
  color: #555;
}

.left a:hover {
  text-decoration: underline;
}

.right {
  text-align: right;
}
